@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Marcellus&display=swap');
* {
   margin: 0;
   padding: 0;
   border: none; 
}
body {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #211F1F;
}

#top {
    height: 150px;
    width: 100%;
    background: rgb(212, 210, 176);
}

/* heading and logo */
h1, h2, h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 400;
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

/* menu links */

#menu {
    font-size: 120%;
    float: right;
    margin-right: 20px;
}

#menu, #logo {
    margin-top: 50px;
    line-height: 75px;
}

#menu li {
    float: left;
    margin-left: 20px;
    list-style-type: none; 
}

#menu a {
    text-decoration: none;
    color: #211F1F;
}

#menu a:hover {
    border-bottom: 1px solid #323232;
}

.active {
    border-bottom: 1px solid #323232;
}

/* main image */

img {
    width: 100%;
    max-height: 500px;
    position: relative;
}

#social-media {
    height: 150px;
    width: 100%;
    background: rgb(212, 210, 176);
}

#socials {
    font-size: 50px;
    text-align: center;
}

#socials i {
    color:#323232;
    margin: 50px 75px;
}