@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Marcellus&display=swap');
* {
   margin: 0;
   padding: 0;
   border: none; 
}
body {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #323232;
}

#top {
    height: 150px;
    width: 100%;
    background:#071326;
}

/* heading and logo */
h1, h2, h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 400;
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

/* menu links */

#menu {
    font-size: 120%;
    float: right;
    margin-right: 20px;
}

#menu, #logo {
    margin-top: 50px;
    line-height: 75px;
    color: rgb(212, 210, 176);
}

#menu li {
    float: left;
    margin-left: 20px;
    list-style-type: none; 
}

#menu a {
    text-decoration: none;
    color: rgb(212, 210, 176);
}

#menu a:hover {
    border-bottom: 1px solid rgb(212, 210, 176);
}

.active {
    border-bottom: 1px solid rgb(212, 210, 176);
}

/* main image */

#head-pic {
    width: 100%;
    max-height: 500px;
    position: relative;
}

/* Destination section */

#destination {
    text-align: center;
    font-size: 200%;
}

.text {
    width: 100%;
    height: 280px;
}

#left {
    margin-top: 30px;
    width: 33%;
    height: 250px;
    float: left;
    
}

#right {
    margin-top: 30px;
    width: 33%;
    height: 250px;
    float: right;
    
}

#middle {
    margin-top: 30px;
    height: 250px;
}

.text h3 {
    text-align: center;
    font-size: 150%;
    margin-bottom: 15px;
    text-decoration: none;
}

.text p {
    margin: 0 20px;
    text-align: center;
}


.text a {
    text-decoration: none;
    color: #211F1F;
}

.text h2 {
    text-align: left;
}

button  {
    border: 2px solid #323232;
    text-align: center;
    padding: 5px 5px;
    margin-top: 20px;
    margin-left: 20px;
}

 .text a:hover {
    zoom: 110%;
 }

#pic-container {
    column-count: 3;
    column-gap: 10px;
    height: 300px;
}

#pic-container > img {
    width: 100%;
    height: 100%;
    border: #323232 2px solid;
}

/* Footer */

#social-media {
    height: 150px;
    width: 100%;
    background: #071326;
}

#socials {
    font-size: 50px;
    text-align: center;
}

#socials i {
    color:rgb(212, 210, 176);
    margin: 50px 75px;
}

/* Safari Page */ 

/* Gallery */

#gallery-container {
    column-count: 4;
    column-gap: 0;
}

#gallery-container > img {
    width: 100%;
    height: 33%
    border: #323232 2px solid;
}

/* Booking Page */

#outer-pic {
    width: 100%;
    postion: relative;
}

#form-pic {
    width: 100%;
    max-height: 700px;
}

form {
    height: 400px;
    width: 400px;
    bottom: 150px;
    left: 50px;
    background: rgb(212, 210, 176);
    opacity: 0.6;
     position: absolute;
}

#overlap {
    font-size: 150%;
    padding-left: 20px;
    padding-top: 20px;
    border: #323232 4px solid;
}

.bk-now {
    text-decoration: none;
    color: #323232;
}

.bk-now:hover {
    zoom: 110%;
    text-decoration: underline;
}